.optimization-settings {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 901;
   height: 100%;

   display: flex;
   flex-direction: column;
   row-gap: 15px;
   padding: 100px 10px 20px 10px;
   background-color: var(--color-dark);

   border-left: 1px solid var(--color-light-10);

   transform: translateX(100%);
   transition: transform 0.3s ease;
}

.optimization-settings--open {
   transform: translateX(0);
}
