.train-settings__form {
   display: grid;
   column-gap: 20px;
   row-gap: 20px;
   font-size: 18px;

   overflow-y: auto;

   padding-inline: 20px;
}

.train-settings__form::-webkit-scrollbar {
   width: 4px;
   margin-right: 10px;
}

.train-settings__form::-webkit-scrollbar-track {
   background: inherit;
   border-radius: 4px;
}

.train-settings__form::-webkit-scrollbar-thumb {
   background-color: var(--color-accent-10);
   border-radius: 4px;
}

.form__item {
   display: grid;
   row-gap: 10px;

   label {
      font-size: 12px;
      text-align: end;
   }

   input {
      padding: 10px;
      background-color: var(--color-dark-10);
      border-radius: 10px;
      border: none;
   }
}

.form__buttons {
   display: grid;
   row-gap: 20px;
   width: 100%;

   margin-top: 20px;

   button {
      background-color: var(--color-dark-10);
      border: none;
      border-radius: 10px;
      padding: 10px;
      transition-duration: var(--transition-duration);
   }

   button:hover {
      background-color: var(--color-dark-20);
   }
}
