.train-settings {
   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   z-index: 901;

   display: flex;
   flex-direction: column;
   row-gap: 15px;
   padding: 100px 10px 20px 10px;

   background-color: var(--color-dark);
   border-left: 1px solid var(--color-light-10);

   transform: translateX(100%);
   transition: transform 0.3s ease;

   position: fixed;
}

.train-settings--open {
   transform: translateX(0);
}
