main {
   min-width: 100%;
   min-height: 100vh;

   font-family: var(--font-family-base);
   background-color: var(--color-dark);
}

a,
button,
label,
input,
textarea,
select,
svg * {
   transition-duration: var(--transition-duration);
}

a {
   color: inherit;
   &[class] {
      text-decoration: none;
   }
}
