.page {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 30px;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
}

@media (max-width: 768px) {
   .page {
      padding-top: 100px;
   }
}

.menu-backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(3px);
   z-index: 10;
   opacity: 0;
   animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
   to {
      opacity: 1;
   }
}
