:root {
   --color-light: #121212;
   --color-light-10: #3a3a3a;
   --color-dark: #F9F8F6;
   --color-dark-10: #EFE9E3;
   --color-dark-20: #D9CFC7;

   --color-accent: #C9B59C;
   --color-accent-10: #251f2d;
   --color-accent-20: hsl(266, 19%, 13%);

   --color-red: #ff746c;

   --font-family-base: "Noto Sans", sans-serif;

   --transition-duration: 0.2s;
}
