.side-menu {
   padding: 20px;
   border-right: 1px solid var(--color-light-10);
   min-height: 100vh;
   background-color: var(--color-dark-10);
   transition: transform 0.3s ease-in-out;
}

.navigation-menu {
   display: grid;
   row-gap: 15px;
}

.navigation-menu__item {
   min-width: 200px;
}

.navigation-menu__link {
   display: block;
   font-size: 20px;
   padding: 10px 30px;
   border-radius: 10px;
   width: 100%;
   box-sizing: border-box;
   text-decoration: none;
   color: inherit;
}

.navigation-menu__link--active {
   border: 2px solid var(--color-accent-10);
}

.navigation-menu__link:hover:not(.navigation-menu__link--active) {
   background-color: var(--color-dark-20);
}

.menu-toggle {
   display: none;
}

.menu-backdrop {
   display: none;
}

@media (max-width: 768px) {
   .menu-toggle {
      background: none;
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 10px;
      gap: 8px;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 1100;
   }

   .menu-toggle div {
      width: 100%;
      height: 2px;
      background-color: var(--color-light);
      border-radius: 2px;
      transition: all 0.3s linear;
      transform-origin: center;
   }

   .menu-toggle--open {
      gap: 5px;
   }

   .menu-toggle--open div:nth-child(1) {
      transform: scale(75%);
   }

   .menu-toggle--open div:nth-child(2) {
      transform: scale(50%);
   }

   .menu-toggle--open div:nth-child(3) {
      transform: scale(75%);
   }


   .side-menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 280px;
      background-color: #1a1a1a;
      z-index: 1000;
      transform: translateX(-100%);
      box-shadow: 4px 0 15px rgba(0, 0, 0, 0.5);
      padding-top: 90px;
   }

   .side-menu--active {
      transform: translateX(0);
   }

   .menu-backdrop {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 900;
      backdrop-filter: blur(2px);
   }
}
