.side-menu {
   padding: 20px;
   border-right: 1px solid var(--color-light-10);
}

.navigation-menu {
   display: grid;
   row-gap: 15px;
}

.navigation-menu__item {
   min-width: 200px;
}

.navigation-menu__link {
   font-size: 20px;
   padding: 10px 30px;
   border-radius: 10px;
   width: 100%;
}

.navigation-menu__link--active {
   border: 2px solid var(--color-accent-10);
}

.navigation-menu__link:hover:not(.navigation-menu__link--active) {
   background-color: var(--color-dark-20);
}
