.settings__button {
   background: none;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   border: none;
   border-radius: 10px;
   max-width: max-content;
   align-self: flex-end;

   position: absolute;
   top: 20px;
   right: 10px;
   z-index: 1000;

   img {
      width: 40px;
      transition: all 0.3s ease;
   }
}

.settings__button--open img {
   transform: rotateZ(180deg);
}
