.metrics-table {
   width: 100%;
   border-collapse: collapse;
   text-align: center;
   margin: 20px 0;
   font-family: sans-serif;
}

.metrics-table th,
.metrics-table td {
   padding: 12px 15px;
   border: 1px solid var(--color-dark-20);
}

.metrics-table thead th {
   background-color: var(--color-dark-10);
}

.metrics-table .metric-description {
   color: var(--color-light-10);
}

.metrics-table tbody td {
   font-size: 1.2em;
   font-weight: bold;
   color: var(--color-light);
}

.metrics-table tbody tr {
   background-color: var(--color-dark-10);
}
