.error-message {
   width: 100%;
   border-radius: 5px;
   padding: 30px;
   background-color: var(--color-red);
   align-self: flex-start;
}

.error-message__text {
   font-size: 18px;
   color: var(--color-dark);
   font-weight: 600;
}
