.settings-form {
   display: grid;
   column-gap: 20px;
   row-gap: 20px;
   font-size: 18px;

   overflow-y: auto;

   padding-inline: 20px;
}

.settings-form::-webkit-scrollbar {
   width: 4px;
   margin-right: 10px;
}

.settings-form::-webkit-scrollbar-track {
   background: inherit;
   border-radius: 4px;
}

.settings-form::-webkit-scrollbar-thumb {
   background-color: var(--color-accent-10);
   border-radius: 4px;
}

.form__item {
   display: grid;
   row-gap: 10px;

   label {
      font-size: 12px;
      text-align: end;
   }

   input {
      padding: 10px;
      background-color: var(--color-dark-10);
      border-radius: 10px;
      border: none;
   }

   select {
      padding: 10px;
      background-color: var(--color-dark-10);
      border-radius: 10px;
      border: none;
      font-size: 16px;
      color: inherit;
      appearance: none;
   }

   span {
      font-size: 14px;
      max-width: 200px;
      justify-self: end;
      text-align: end;
      color: var(--color-red);
   }
}

.form__buttons {
   display: grid;
   row-gap: 20px;
   width: 100%;

   margin-top: 20px;

   button {
      background: var(--color-accent);
      color: var(--color-dark);
      border: none;
      border-radius: 10px;
      padding: 10px;
      transition-duration: var(--transition-duration);
   }

   button:hover {
      filter: brightness(0.85);
   }
}
